# Required for setup.py
Cython


# gnuicorn tools
gunicorn
eventlet
gevent

# Documentation
sphinx
docutils

# Date parsing
python-dateutil
strict_rfc3339
# Flask - pinned
flask==3.0.2
Jinja2
markupsafe

#Logging
loguru
# Ourselves